.base-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;

    padding: 4px;

    border-radius: 6px;

    cursor: pointer;

    transition: all 0.2s;
}

.base-button .i-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.base-button svg {
    width: 16px;
    height: 16px;
    color: var(--action-btn-color, #000);
}

.base-button:hover {
    background-color:#c0c3c3;
}

.base-button-disabled {
    cursor: not-allowed;
}

.base-button-disabled:hover {
    background-color: transparent;
}

.base-button-selected {
    background-color:#c0c3c3;
}