// @font-face {
//   font-family: 'oppo-sans';
//   src: url('../../font/oppo-sans/OPPOSans-R.ttf') format('truetype');
//   font-weight: 400; /* 常规字体的权重通常是400 */
// }

// @font-face {
//   font-family: 'oppo-sans';
//   src: url('../../font/oppo-sans/OPPOSans-M.ttf') format('truetype');
//   font-weight: 600;
// }

// @font-face {
//   font-family: 'oppo-sans';
//   src: url('../../font/oppo-sans/OPPOSans-B.ttf') format('truetype');
//   font-weight: 700; /* 粗体字体的权重通常是700 */
// }

@font-face {
  font-family: "oppo-sans";
  src: url("https://db.onlinewebfonts.com/t/d864b8348ee384348cf526c09e4ad563.eot");
  src: url("https://db.onlinewebfonts.com/t/d864b8348ee384348cf526c09e4ad563.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d864b8348ee384348cf526c09e4ad563.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d864b8348ee384348cf526c09e4ad563.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d864b8348ee384348cf526c09e4ad563.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d864b8348ee384348cf526c09e4ad563.svg#OPPOSans L")format("svg");
  font-weight: 300; /* light字体的权重通常是300 */
}

@font-face {
  font-family: "oppo-sans";
  src: url("https://db.onlinewebfonts.com/t/aca7761d83fa70e338bcdd281e9cbb95.eot");
  src: url("https://db.onlinewebfonts.com/t/aca7761d83fa70e338bcdd281e9cbb95.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/aca7761d83fa70e338bcdd281e9cbb95.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/aca7761d83fa70e338bcdd281e9cbb95.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/aca7761d83fa70e338bcdd281e9cbb95.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/aca7761d83fa70e338bcdd281e9cbb95.svg#OPPOSans R")format("svg");
  font-weight: 400; /* 常规字体的权重通常是400 */
}

@font-face {
  font-family: "oppo-sans";
  src: url("https://db.onlinewebfonts.com/t/8a567f4b5a5367bc01e2c94ce99c5ffb.eot");
  src: url("https://db.onlinewebfonts.com/t/8a567f4b5a5367bc01e2c94ce99c5ffb.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/8a567f4b5a5367bc01e2c94ce99c5ffb.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/8a567f4b5a5367bc01e2c94ce99c5ffb.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/8a567f4b5a5367bc01e2c94ce99c5ffb.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/8a567f4b5a5367bc01e2c94ce99c5ffb.svg#OPPOSans M")format("svg");
  font-weight: 600;
}

// @font-face {
//   font-family: "oppo-sans";
//   src: url("https://db.onlinewebfonts.com/t/76888f391729c7bcb81ab98f8df64144.eot");
//   src: url("https://db.onlinewebfonts.com/t/76888f391729c7bcb81ab98f8df64144.eot?#iefix")format("embedded-opentype"),
//   url("https://db.onlinewebfonts.com/t/76888f391729c7bcb81ab98f8df64144.woff2")format("woff2"),
//   url("https://db.onlinewebfonts.com/t/76888f391729c7bcb81ab98f8df64144.woff")format("woff"),
//   url("https://db.onlinewebfonts.com/t/76888f391729c7bcb81ab98f8df64144.ttf")format("truetype"),
//   url("https://db.onlinewebfonts.com/t/76888f391729c7bcb81ab98f8df64144.svg#OPPOSans-B")format("svg");
//   font-weight: 700; /* 粗体字体的权重通常是700 */
// }

* {
  font-family: 'oppo-sans';
  // font-weight: 400;
}

p {
  margin: 0;
  font-size: 22px;
}

.editor-toolbar-wrap {
  position: relative;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;

  border-radius: 6px;
  border: 1px solid #ccc;

  // overflow: hidden;

  .toolbar {
    position: sticky;
    // transform: translate3d(-20px, 0px, 0);
    top: 0;
    padding: 4px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    // border: 1px solid #ccc;
    // border-radius: 6px;
  }
}

.flx-editor-wrap {
  font-family: 'oppo-sans';
  font-weight: 400;

  // border: 1px solid #ccc;
  // border-radius: 6px;

  margin: auto;
  
  max-width: 600px;

  padding: 40px;

  position: relative;

  overflow: scroll;

  .flx-editor {
    outline: none;
  }
}

.save-btn {
  display: flex;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: cadetblue;
  position: fixed;
  right: 40px;
  bottom: 60px;
}
